.slider-frame{
    max-height: 300px !important;
    overflow: hidden;
}
.am-wingblank{
    margin-top: 41px;
    position: relative;
    .slider-decorator-0{
        // background-color: #fff;
        // text-indent: 35% !important;
        bottom: 20px !important;
        .am-carousel-wrap{
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: auto !important;
            text-align: center !important;
            .am-carousel-wrap-dot{
                width: 10px;
                height: 10px;
                background-color: #999;
                float: left;
                border-radius: 50%;
                margin-left: 10px;
            }
            .am-carousel-wrap-dot-active{
                background-color: #000;
            }
        }
        
    }
    
}